numpy>=1.24.2
wandb>=0.13.10
matplotlib>=3.7.0
scipy>=1.10.0
pytorch-lightning>=2.1.2
lightning
shapely>=2.0.1
networkx>=3.0
Cartopy>=0.22.0
pyproj>=3.4.1
tueplots>=0.0.8
plotly>=5.15.0
tornado>=6.3.3
cython>=3
cfgrib
dataclasses-json==0.6.4
xarray
argparse-dataclass==2.0.0
tensorboard==2.13.0
typer==0.9.0
netCDF4==1.6.5
tensorboard-plugin-profile 
torch-tb-profiler==0.4.1
einops==0.7.0
torchinfo==1.8.0
tabulate==0.9.0
pytest==8.1.1
onnx==1.16.0
onnxscript==0.1.0.dev20240421
onnxruntime==1.17.3
