model:
  model_name: HalfUNet
  losses:
  - class: WeightedLoss
    weight: 1.0
    params:
      loss: MSELoss #L1Loss 
      reduction: "none"
  num_inter_steps: 1 # Number of intermediary steps (without any data)
  num_samples_to_plot: 1
  training_strategy: diff_ar # diff_ar or scaled_ar
  channels_last: False # True: B W H C
  io_conf : null
  mask_ratio : 0 # 0<mask_ratio<1. If !=0 apply maskedautoencoderstrategy.
  learning_rate: 1e-3
  min_learning_rate: 3e-7
  num_warmup_steps: 1000
  betas: [0.9, 0.95]
  settings_init_args:
    num_filters: 64
    dilation: 1
    bias: False
    use_ghost: False
    last_activation: Identity
    absolute_pos_embed: False
    autopad_enabled: True