model:
  model_name: HalfUNet
  loss_name: mse # mse or mae
  num_inter_steps: 1 # Number of intermediary steps (without any data)
  num_samples_to_plot: 1
  training_strategy: diff_ar # diff_ar or scaled_ar
  channels_last: False # True: B W H C
  io_conf : null
  mask_ratio : 0 # 0<mask_ratio<1. If !=0 apply maskedautoencoderstrategy.
  settings_init_args:
    num_filters: 64
    dilation: 1
    bias: False
    use_ghost: False
    last_activation: Identity
    absolute_pos_embed: False
    autopad_enabled: True