model:
  model_name: UNETRPP
  model_conf: null # Path to model_conf
  loss_name: mse # mse or mae
  num_inter_steps: 1 # Number of intermediary steps (without any data)
  num_samples_to_plot: 1
  training_strategy: downscaling_only # diff_ar or scaled_ar or downscaling_only
  channels_last: False # True: B W H C
  io_conf : null
  settings_init_args:
    hidden_size: 256
    num_heads_encoder: 4
    num_heads_decoder: 4
    pos_embed: "perceptron"
    norm_name: "instance"
    dropout_rate: 0.0
    depths: [3, 3, 3, 3]
    conv_op: "Conv2d"
    # do_ds: false # not recognized by CLI but present in UNETRPPSettings -> strange O.o
    # spatial_dims: 2 # not recognized by CLI but present in UNETRPPSettings -> strange O.o
    linear_upsampling: false
    downsampling_rate: 4
    decoder_proj_size: 64
    encoder_proj_sizes: [64, 64, 64, 32]
    add_skip_connections: true
    attention_code: "torch"