model:
  model_name: UNet
  model_conf: null # Path to model_conf
  loss_name: mse # mse or mae
  num_inter_steps: 1 # Number of intermediary steps (without any data)
  num_samples_to_plot: 1
  training_strategy: diff_ar # diff_ar or scaled_ar
  channels_last: False # True: B W H C
  settings_init_args:
    init_features: 64
    # autopad_enabled: False # not recognized by CLI but present in UNETRPPSettings -> strange O.o