data:
  #args forwarded (linked) to model
  dataset_name: titan_full
  num_input_steps: 1
  num_pred_steps_train: 1
  num_pred_steps_val_test: 1
  batch_size: 2

  #other args
  num_workers: 10
  prefetch_factor: null
  pin_memory: False
  dataset_conf:
    periods:
      train:
        start: 20200101
        end: 20221231
        obs_step: 3600
      valid:
        start: 20230101
        end: 20231231
        obs_step: 3600
        obs_step_btw_t0: 10800
      test:
        start: 20240101
        end: 20240831
        obs_step: 3600
        obs_step_btw_t0: 10800
    grid:
      name: PAAROME_1S40
      border_size: 0
      subdomain: [100, 612, 240, 880]
      proj_name: PlateCarree
      projection_kwargs: {}
    settings:
      standardize: true
      file_format: npy
    params:
      aro_t2m:
        levels: [2]
        kind: input_output
      aro_r2:
        levels: [2]
        kind: input_output
      aro_tp:
        levels: [0]
        kind: input_output
      aro_u10:
        levels: [10]
        kind: input_output
      aro_v10:
        levels: [10]
        kind: input_output
      aro_t:
        levels: [250, 500, 700, 850]
        kind: input_output
      aro_u:
        levels: [250, 500, 700, 850]
        kind: input_output
      aro_v:
        levels: [250, 500, 700, 850]
        kind: input_output
      aro_z:
        levels: [250, 500, 700, 850]
        kind: input_output
      arp_t:
        levels: [250, 500, 700, 850]
        kind: input
      arp_u:
        levels: [250, 500, 700, 850]
        kind: input
      arp_v:
        levels: [250, 500, 700, 850]
        kind: input
      arp_z:
        levels: [250, 500, 700, 850]
        kind: input