data:
  #args forwarded (linked) to model
  dataset_name: "titan_refacto2"
  num_input_steps: 1
  num_pred_steps_train: 1
  num_pred_steps_val_test: 1
  batch_size: 32

  #other args
  num_workers: 10
  prefetch_factor: null
  pin_memory: False 
  dataset_conf: "/home/labia/leborgnelarivierec/py4cast/config/datasets/titan_refacto.json"
  config_override: null