data:
  #args forwarded (linked) to model
  dataset_name: titan_lbc
  num_input_steps: 1
  num_pred_steps_train: 1
  num_pred_steps_val_test: 1
  batch_size: 2

  #other args
  num_workers: 10
  prefetch_factor: null
  pin_memory: False 
  dataset_conf: config/datasets/titan_lbc.json
  predict_conf:
    periods:
      test:
        start: 20220101
        end: 20230101
        obs_step: 3600